<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/static/css/auth.css">
    <script src="/static/js/cadastro.js"></script>
</head>

<body>
    <div class="container">
        <h2>Cadastro</h2>
        
        <form action="/cadastro" method="POST">
            <input type="text" name="nome" placeholder="Nome" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="senha" placeholder="Senha" required>


            <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>

</html>