<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/auth.css">
    <script src="/static/js/login.js"></script>
</head>

<body>
    <div class="container">
        <h2>Login</h2>

        <input type="email" id="email" placeholder="Email">
        <input type="password" id="senha" placeholder="Senha">

        <button onclick="login()">Entrar</button>

        <p id="erro"></p>

        <p>Não tem conta? <a href="/cadastro">Cadastrar</a></p>
    </div>
</body>

</html>